/************** Header ******************/
.header__btn{
    background: transparent;
    border: none;
}
.header__search-input{
    padding: 5px;
    align-self: center;
    width: calc(100% - 50px);
}
.form__element{
    display: flex;
    flex:2;
    span{
        align-self: center;
        color:#fff;
        font-size: 25px;
    }
}
.fa-youtube-play{
    font-size:42px;
    color:#fff;
    margin-right: 10px;
}
.fa-search{
    color:#fff;
    font-size: 20px;
    margin-top:10px;
}

/************** VideosList ******************/
.spinner{
    display:flex;
    align-items: center;
    flex-flow: column;
    margin-top: 100px;
    height:100vh;
    color:#a3a1a1;
}
.collection{
    padding:30px;
}
.collection__video,.collection__channel,.collection__playlist{
    display:flex;
    margin-bottom: 40px;
    color: #747171;
    text-decoration: none;
} 

.collection__channel{
    img{
        border-radius: 50%;
    }
}

.collection__video--left,.collection__playlist--left{
    flex:1;
    max-width: 100%;
    overflow: hidden;
    margin-right: 20px;
    img{
        width:100%;
    }
}
.collection__video--right,.collection__playlist--right{
    flex:1;
    color:#a3a1a1;
}
