@import './modules/header';
@import './modules/select';


/************** VideosList ******************/
.spinner{
    display:flex;
    align-items: center;
    flex-flow: column;
    margin-top: 100px;
    height:100vh;
    color:$font-color;
}
.collection{
    padding:15px 15px 0;
    
}
.collection__video,.collection__channel,.collection__playlist{
    display:flex;
    margin-bottom: 40px;
    color: $font-color;
    text-decoration: none;
} 

.collection__channel{
    img{
        border-radius: 50%;
    }
}

.collection__video--left,.collection__playlist--left,.collection__channel--left{
    flex:1;
    max-width: 100%;
    overflow: hidden;
    margin-right: 20px;
    img{
        width:100%;
    }
}
.collection__channel--left{
    display:flex;
    justify-content: center;
    img{
        width:50%;
        align-self: center;
    }
}
.collection__video--right,.collection__playlist--right,.collection__channel--right{
    flex:1;
    color:$font-color;
    p{
        margin-bottom: 10px;   
    }
}
.collection__channel--right{
    display:flex;
    flex-flow: column;
    justify-content: center;
}
.collection__title{
    color:#000;
}

.show-more{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: $font-color;
    padding-top: 20px;
    border-top: 1px solid $font-color;
}
.show-more__btn{
    cursor:pointer;
}