html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: #f00;
  padding-left: 10px;
  padding-right: 10px; }

.form {
  display: flex;
  justify-content: space-between; }

/************** Header ******************/
.header__btn {
  background: transparent;
  border: none; }

.header__search-input {
  padding: 5px;
  align-self: center;
  width: calc(100% - 50px); }

.form__element {
  display: flex;
  flex: 2; }
  .form__element span {
    align-self: center;
    color: #fff;
    font-size: 25px; }

.fa-youtube-play {
  font-size: 42px;
  color: #fff;
  margin-right: 10px; }

.fa-search {
  color: #fff;
  font-size: 20px;
  margin-top: 10px; }

/************** VideosList ******************/
.spinner {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 100px;
  height: 100vh;
  color: #747171; }

.collection {
  padding: 30px 30px 0; }

.collection__video, .collection__channel, .collection__playlist {
  display: flex;
  margin-bottom: 40px;
  color: #747171;
  text-decoration: none; }

.collection__channel img {
  border-radius: 50%; }

.collection__video--left, .collection__playlist--left, .collection__channel--left {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  margin-right: 20px; }
  .collection__video--left img, .collection__playlist--left img, .collection__channel--left img {
    width: 100%; }

.collection__video--right, .collection__playlist--right, .collection__channel--right {
  flex: 1;
  color: #747171; }

.show-more {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  color: #747171;
  padding-top: 20px;
  border-top: 1px solid #747171; }
